# CODEOWNERS file
# Individuals or teams responsible for code in this repository.
# When PRs are opened, these individuals will be added as reviewers automatically.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*   @gwaybio
